---
import Layout from '../layouts/BlogPost.astro';
import { getEntryBySlug } from 'astro:content';

const page = await getEntryBySlug('page', 'about'); 
const {Content} = await page?.render();

if(Content === undefined) {throw new Error("file is missing")}
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
<h1>{page.data.title}</h1>
 <Content/>
</Layout>
