---
const { date, pre } = Astro.props;
// <time datetime={date.toISOString()}>
console.log("date: ", date);
---

<span>{pre}</span>
<time datetime={date}>
  {
    new Date(date).toLocaleDateString("en-us", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  }
</time>
