---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>

  <div class="blur"></div>
  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/updates">Updates</HeaderLink>
    <HeaderLink href="/updates">Contact</HeaderLink>
    <HeaderLink href="/updates">Resume</HeaderLink>
  </nav>
</header>

<style>
  .blur {
    position:absolute;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    background-size: cover;
    filter: blur(13px);
    left: -50px;
    top: -50px;
    right: -50px;
    bottom: -50px;
    height: 200%;
    margin: 0;
    padding: 0;
    z-index: -1;
  }
  header {
    /* box-sizing: border-box; */
    margin: 0;
    position: fixed;
    opacity: 0.6;
    /* background-color: rgba(0, 0, 0, 0.25) linear-gradient(to bottom right,#002f4b,#dc4225; */
    right: 0;
    left: 0;
    top: 0;
    height: var(--header-height);

    padding: 1ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
  }

  header > .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
  }

  .hamburger > div {
    width: 20px;
    height: 2px;
    background-color: black;
  }
  header > nav {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
  }

  header > nav > a {
    margin-left: 2ch;
  }
  h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fcf3bf;
  }
  @media only screen and (max-width: 680px) {
    header > .hamburger {
      display: flex;
    }
    header > nav {
      display: none;
      /* color: lightblue; */
    }
  }
</style>
