---
// import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

// type Props = CollectionEntry<'blog'>['data'];

const { title, description, updated } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead image={} {title} {description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1 class="title">{title}</h1>
        <FormattedDate pre="Last Updated: " date={updated} />
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body><style>
    main {
      padding-top: 2ch;
    }
    article {
      max-width: 80ch;
      margin: 0 auto;
    }

    .title {
      font-size: 2em;
      margin: 0.25em 0 0;
    }
    hr {
      border-top: 1px solid #ddd;
      margin: 1rem 0;
    }
    .last-updated-on {
      font-style: italic;
    }
	pre {
		background-color: #111;
	}
  </style>
</html>
