---
// import sangobashiImage from "./sango-bashi.05.1920.1080.90.webp";
// import sangobashiImage from "./sango-bashi.05.1920.1080.90.webp";
import kyle_image from "./kyle.500.1025.50.webp";
---

<section class="hero-section">
  <div class="container">
    <picture>
      <source
        srcset={kyle_image}
        media="(max-width: 400px)"
        width="200"
        height="auto"
      />
      <img src={kyle_image} alt="Kyle Manning" />
    </picture> 
    <div class="text">
      <h1 class="title">Just a Simple Guy</h1>
      <p>I'm a father and husband</p>
      <p>I've lived in Japan nearly 20 years</p>
      <p>I teach English to all ages</p>
      <p>I love programming and web development</p>
      <p>I love 3D graphic art</p>
      <p>....oh, and ice cream, too!</p>
    </div>
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");

  .hero-section * {
    /* border: 1px solid red; */
  }

  .hero-section {
    color: #edc9a9;
    /* background-image: linear-gradient(to top left, hsl(246, 74%, 25%), #ffffff1c), */
    background-image: url("./sangobashi-min.large.90.webp");
    /* url("./sango-bashi.05.1920.1080.90.webp"); */
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    /* overflow-y: clip; */
  }

  .container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    align-items: end;
    margin-bottom: -20ch;
    position: relative;
    overflow: hidden;
    /* overflow-y: clip; */
  }
  .title {
    font-family: "IM Fell English", serif;
    font-size: 96px;
    color: inherit;
    margin: 0;
  }

  .text {
    /* position: absolute; */
    max-width: 40ch;
    /* font-size: 32px; */
    line-height: .9;
    margin: 0;
    /* right: 30%; */
    align-self: start;
  }

  img {
    /* position: relative; */
    transform: scaleX(-1);
    max-height: 80vh;
    width: auto;
    height: auto;
    left: 30%;
    top: 10%;
  }

  /* @media only screen and (max-width: 1100px) {
    .hero-section img {
      max-height: 100ch;
      margin-top: 10ch;
    }
    .title {
      font-size: 60px;
    }
    .text {
      width: 10px;
      margin-bottom: 10ch;
      width: 250px;
    }
  }
*/
  /* @media only screen and (max-width: 950px) {
    .hero-section img {
      position: absolute;
    }
    .hero-section .title {
      font-size: 80px;
    }
    .hero-section .text {
      position: relative;
      margin-left: -25ch;
    }
  }  */

  @media only screen and (max-width: 630px) {
    .container {
      flex-direction: column-reverse;
    }
    .text {
      margin-left: 3ch;
      margin-top: 15%;
    }
  }
  @media only screen and (max-width: 350px) {
    .title {
      font-size: 5ch;
    }
    img {
      width: 70%;
      align-self: center;
    }
  }
</style>
