---
import kyle_image from "./kyle.500.1025.50.webp";
---

<!--
media="(max-width: 400px)"
width="200" 
-->
<section class="hero-section">
  <div class="container">
    <picture>
      <source
        srcset={kyle_image}
        media="(max-width: 400px)"
        width="200"
        height="100"
      />
      <img src={kyle_image} alt="Kyle Manning" />
    </picture>
    <div class="text">
      <h1 class="title">Just a Simple Guy</h1>
      <p>
        I'm a dad, a husband, a father, and a teacher. I currently live in Japan
        and teach English to Japanese of all ages. I especially like computers
        via programming, art, design, 3D graphics, and just keeping up to date
        with all the new technologies (..although it really is impossible to
        keep up with everything. )
      </p>
      <p>
        My favorite programming languages are Rust and Golang. My favorite 3D
        modeling tool is Blender. And how could I go without showing extreme
        gratitude to Linux. Yes, I am a 100% Linux user and advocate.
      </p>
    </div>
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
  :root {
  }

  .hero-section {
    color: #edc9a9;
    background-image: url("./sangobashi-min.large.90.webp");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
  }

  .container {
    width: 100%;
    max-width: var(--page-width);
    box-sizing: border-box;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: end;
    position: relative;
    overflow: hidden;
  }

  .text {
    max-width: 60ch;
    min-width: 60ch;
    line-height: 0.9;
    align-self: start;
  }

  .title {
    font-family: "IM Fell English", serif;
    font-size: 96px;
    color: inherit;
    margin: 0;
  }

  .text p {
    line-height: 1.75;
    font-size: large;
  }

  img {
    transform: scaleX(-1);
    min-width: 450px;
    margin-bottom: -50%;
  }

  @media only screen and (max-width: 1000px) {
    .text {
      z-index: 2;
      width: 100%;
      max-width: 80ch;
      align-self: unset;
    }
    .title {
      text-align: center;
    }
    .container {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-left: var(--md-margin);
      padding-right: var(--md-margin);
    }
    .hero-section img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 630px) {
    .container {
      /* min-width: auto; */
      padding-left: var(--sm-margin);
      padding-right: var(--sm-margin);
    }
    .text {
      min-width: 0;
    }
  }

  @media only screen and (max-width: 350px) {
    .text .title {
      font-size: 60px;
    }
  }
</style>
