---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const { published } = Astro.props;
---

<section class="container">
  <ul>
    {
      published.map((post) => (
        <li>
          <FormattedDate date={new Date(post.updated)} />
          <a href={`/blog/${post.slug}/`}>{post.title}</a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section {
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20%;
  }
</style>
